#########################
## Default
#########################
/build
/libs
/JAVA

#########################
## Android Studio
#########################
/proguard-rules.pro
/src/androidTest
/src/main/AndroidManifest.xml
/src/main/res
/src/test
tactilewaves.iml

#########################
## Gradle
#########################
build.gradle

